.signin-form-container{
    position: relative;
    margin: 0 autio 100px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.25);
    padding: 30px;
    border-radius: 5px;
}

.error-signin {
    color: red;
    white-space: pre-line;
}